@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;900&display=swap');

.App {
    font-family: "Exo 2", sans-serif;
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.btn {
    height: 28px;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dffb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
